#chat-screen {
  height: 1000vh;
}

#chat-screen,
#chat-screen .alt-header {
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__time-stamp {
  background-color: #92a4b2;
  color: white;
  opacity: 0.8;
  font-size: 14px;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  top: 120px;
}

.message-row:nth-child(2) {
  margin-top: 200px;
}

.message-row {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  width: 100%;
}

.message-row img {
  width: 55px;
  height: 55px;
  border-radius: 45%;
  margin-right: 7px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 7px;
  display: block;
  padding-top: 15px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__time {
  font-size: 13px;
  opacity: 0.7;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: yellow;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 5px;
  margin-right: 0px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

/* .message-row--own .message__bubble {
  only works flex children 
  order: 1;
}

.message-row--own .message__time {
  order: 0;
} */

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: white;
  padding: 5px 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
}

.reply__column {
  position: relative;
}

.reply__column input {
  padding: 10px;
  border-radius: 25px;
  width: 100%;
  border: var(--border-line);
  box-sizing: border-box;
  background-color: #e9eef2;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 4px;
}

.reply__column:last-child > i {
  right: 45px;
  top: 12px;
}

.reply__column:last-child button {
  border-radius: 50%;
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
}

.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply__column i:not(button > i) {
  opacity: 0.5;
}
