.icon-row {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 150px));
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 40px;
}

.icon-row__icon span,
.icon-row__img span {
  margin: 20px 0px;
  text-align: center;
}

.icon-row__img {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  color: var(--gray);
  font-weight: 600;
}

.icon-row__img img {
  width: 50px;
  height: 50px;
  border-radius: 20%;
}
